@media (max-width: 990px) {

    .wrapper{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav{
        display: inline;
    }

    .hero-section{
        width: 90%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .detail{
        margin-top: 1rem;
        justify-content: center;
    }

    .detail-section{
        width: 80%;
        justify-content: center;
        align-items: center;
        margin: 0%;
        padding: 0%;
    }

    .image{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 30%;
        left: 15%;
        margin-left: -40%;
      
    }

    .darkmenu{
        background: transparent;
    }

    .info-driver{
        display: none;
    }

    .skill-items{
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 10px;
        margin-top: 2rem;
    }

    .about-section{
        flex-direction: column;
    }

    .about-photo{
        width: 100%;
        margin-top: 0rem;
        justify-content: center;
        align-items: center;
    }
}




/* for-mobile */



@media (max-width:600px) {

    body{
        overflow-x: hidden;
    }
    

    .header{
        width: 100%;
    }

    .nav{
        position: absolute;
        display: block;
        width: 250px;
        height: 100vh;
        top: 4rem;
        left: 100vw;
        font-size: 1.3rem;
        background: transparent;
        backdrop-filter: blur(1px);
    }

    .nav-list{
        background: transparent;
    }
    
    .nav ul{
        flex-direction: column;
        align-items: center;
        line-height: 3rem;
    }

    .image{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 30%;
        left: 30%;
      
    }   

    .img1{
        margin-left: 1rem;
        padding-left: 0;
    }

    .hambergur{
        display: flex;
        align-items: center;
        font-size: x-large;
    }

    #hambergur:checked + .nav{
        left: calc(100vw - 250px);
        transition: all 0.5s;
    }
}

@media (min-width:990px) {
    .img1{
        margin-right: 9rem;
    }
    
}