@media (max-width: 990px) {

    .wrapper{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav{
        display: inline;
    }
    .hero-section{
        width: 90%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .detail{
        margin-top: 1rem;
        justify-content: center;
    }

    .detail-section{
        width: 80%;
        justify-content: center;
        align-items: center;
        margin: 0%;
        padding: 0%;
    }
/* 
    .button{
        position: absolute;
        left: 40%;
    }*/



    .image{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 30%;
        left: 15%;
        margin-left: -40%;
      
    }

    .darkmenu{
        background: transparent;
        /* z-index: 1; */
    }

    .info-driver{
        /* height: 0;
        width: 0; */
        display: none;
    }

    .skill-items{
        justify-content: space-around;
        /* flex-direction: column; */
        flex-wrap: wrap;
        margin: 10px;
        margin-top: 2rem;
    }

    .about-section{
        flex-direction: column;
    }

    .about-photo{
        width: 100%;
        margin-top: 0rem;
        justify-content: center;
        align-items: center;
    }
}

/* for-mobile */

@media (max-width:600px) {

    .nav{
        position: absolute;
        display: block;
        width: 250px;
        height: 100vh;
        /* flex-direction: column-reverse; */
        top: 4rem;
        left: 100vw;
        font-size: 1.3rem;
        box-shadow: 4px -2px 40px 9px rgba(128, 128, 128, 0.464);
        background: transparent;
        backdrop-filter: blur(5px);
        /* justify-content: center; */
    }

    .nav ul{
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        /* margin-top: 0.2rem; */
        line-height: 3rem;
    }

    .image{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 30%;
        left: 30%;
      
    }   

    .img1{
        margin-left: 1rem;
        padding-left: 0;
    }
    /* .nav{
        display: none;
    } */

    .hambergur{
        display: flex;
        align-items: center;
        font-size: x-large;
        /* position: absolute;
        left: 95%;
        top: 3%; */
    }

    #hambergur{
        /* display: none; */
    }

    #hambergur:checked + .nav{
        left: calc(100vw - 250px);
        transition: all 0.5s;
    }
}

@media (min-width:990px) {
    .img1{
        margin-right: 9rem;
    }
    
}